.cover__subtitle {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  min-width: 360px;
  color: #fff;
  position: absolute;
  z-index: 2;
  margin: 0;
  padding: 0 calc(50% - 180px);
  top: 435px;
}

@media screen and (max-width: 1279px) {
  .cover__subtitle {
    top: 385px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__subtitle {
    top: 305px;
  }
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    top: 270px;
  }
}

@media screen and (max-width: 559px) {
  .cover__subtitle {
    font-size: 14px;
    min-width: 288px;
    padding: 0 calc(50% - 144px);
    top: 135px;
  }
}