.place__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

@media screen and (max-width: 1279px) {
  .place__text {
    row-gap: 27px;
  }
}

@media screen and (max-width: 1023px) {
  .place__text {
    row-gap: 25px;
  }
}

@media screen and (max-width: 500px) {
  .place__text {
    margin: 0 16px;
  }
}