.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.1;
  text-align: center;
  min-width: 560px;
  color: #fff;
  position: absolute;
  z-index: 2;
  top: 245px;
  padding: 0 calc(50% - 560px / 2);
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .cover__title {
    top: 195px;
    font-size: 72px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__title {
    top: 115px;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 56px;
  }
}

@media screen and (max-width: 559px) {
  .cover__title {
    min-width: 288px;
    padding: 0 calc(50% - 288px / 2);
    font-size: 32px;
    top: 33px;
  }
}